.header-wrapper{
    height: 60px;
    min-height: 60px;
    width: 100%;
    background: #212121;
    align-items: center;
    padding: 0 10px;
    z-index: 10;
}

.hamburger{
    color: #BDBDBD;
    font-size: 32px;
    height: 100%;
    align-items: center;

    cursor: pointer;
}


.create-room{
    color: #BDBDBD;
    font-size: 48px;
    font-family: OpensansLight;
    margin-left: auto;
}