.menu-wrapper{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 90px;
    left: 0;
    z-index: 15;
}

.menu-content-wrapper{
    width: 60%;
    height:  100%;
    background: #212121;
    padding-left: 10px;
    z-index: 15;

    -webkit-animation-name: MenuOpen;
    -moz-animation-name: MenuOpen;
    -o-animation-name: MenuOpen;
    animation-name: MenuOpen;

    animation-duration: 0.3s;
}

@keyframes MenuOpen {
    from {margin-left: -60%}
    to {margin-left: 0}
}

.menu-closing .menu-content-wrapper{
    animation-name: MenuClose;
    animation-duration: 0.3s;
}

@keyframes MenuClose {
    from {margin-left: 0}
    to {margin-left: -60%}
}




.menu-header{
    max-height: 60px;
    height: 100%;
    border-bottom: 1px solid #565656;
    justify-content: center;
}

.menu-room-name, .menu-room-owner{
    color: #EEE;
    margin: 0;
    font-weight: 400;
}

.menu-room-name{
    font-family: OpensansMedium;
}

.menu-room-owner{
    color: #BDBDBD;
    font-family: OpensansLight;
    font-size: 16px;
    margin-top: -5px;
}

.menu-list{
    margin-top: 10px;
}

.menu-list-item{
    padding: 5px 0;
}

.menu-list-item-link{
    color: #BDBDBD;
}





.menu-background{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #212121;
    opacity: 0.5;
    z-index: 14;

    -webkit-animation-name: MenuBackgroundOpen;
    -moz-animation-name: MenuBackgroundOpen;
    -o-animation-name: MenuBackgroundOpen;
    animation-name: MenuBackgroundOpen;

    animation-duration: 0.3s;
}

.menu-closing .menu-background{
    animation-name: MenuBackgroundClose;
    animation-duration: 0.3s;
}

@keyframes MenuBackgroundOpen {
    from {opacity: 0}
    to {opacity: 0.5}
}

@keyframes MenuBackgroundClose {
    from {opacity: 0.5}
    to {opacity: 0}
}