.playlist-item{
    min-height: 50px;
    padding: 0 10px;
    margin: 5px 0;
    align-items: center;
    pointer-events: all;
}

.playlist-item-img{
    width: 45px;
    height: 45px;
    border-radius: 30px;
}

.playlist-content-wrapper{
    width: 100%;
    margin-left: 10px;
}

.playlist-content-name{
    color: #EEEEEE;
    font-family: OpensansMedium;
    font-size: 14px;
    overflow: hidden;
}

.playlist-content-duration{
    color: #BDBDBD;
    font-size: 12px;
}

.playlist-item-delete{
    height: 100%;
    padding: 0 5px;
    cursor: pointer;
}

