.search-list-wrapper{
    position: fixed;
    overflow-y: scroll;
    background: #313131;
    width: 100%;
    height: calc(100% - 90px);
    top: 60px;
    z-index: 8;

    animation-name: SearchListOpen;
    animation-duration: 0.3s;
}

.search-list-placeholder{
    text-align: center;
    font-size: 24px;
    color: #BDBDBD;
    margin-top: 50px;
}

@keyframes SearchListOpen {
    from {
        top: -100%;
    }
    to {
        top: 60px;
    }
}