.search-wrapper{
    width: 100%;
    height: 100%;
    align-items: center;
    margin-left: auto;
    justify-content: flex-end;
}

.search-icon{
    width: 30px;
    margin-top: 4px;
    cursor: pointer;
}

.search-input{
    position: absolute;
    background: none;
    border: none;
    max-width: 60vw;
    left: 20vw;
    width: 100%;
    color: #616161;
    font-size: 18px;
    margin-left: 5px;
    padding: 5px 0;
    border-bottom: 1px solid #616161;
    transition: 0.2s all;
    text-align: center;
}

.search-input:focus{
    color: #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
}

.search-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #616161;
}
.search-input::-moz-placeholder { /* Firefox 19+ */
    color: #616161;
}
.search-input:-ms-input-placeholder { /* IE 10+ */
    color: #616161;
}
.search-input:-moz-placeholder { /* Firefox 18- */
    color: #616161;
}

.search-input:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #BDBDBD;
}
.search-input:focus::-moz-placeholder { /* Firefox 19+ */
    color: #BDBDBD;
}
.search-input:focus:-ms-input-placeholder { /* IE 10+ */
    color: #BDBDBD;
}
.search-input:focus:-moz-placeholder { /* Firefox 18- */
    color: #BDBDBD;
}